<f:layout name="Default" />

<f:section name="main">

    <f:for each="{json}" as="image">
        <f:image src="{image.basePath}{image.identifier}" alt="{image.meta.alternative}" width="100c" />
    </f:for>

</f:section>